/* General body styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  overflow: hidden; /* Prevent unwanted scrolling with full background */
}

/* Background container for particles.js */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #282c34; /* Fallback for particles.js */
  z-index: 0;
}

/* Centered content styling */
.content {
  position: relative;
  z-index: 1; /* Ensures content is above particles.js */
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

/* Title styling */
.title {
  font-size: 50px;
  margin: 0.5rem;
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  text-align: center;
}

/* Subtitle styling */
.subtitle {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

/* Rainbow animation for title */
@keyframes rainbow_animation {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}

/* General button styling */
.class-button {
  background: linear-gradient(to right, #0099ff, #00ff99);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.class-button:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #00ff99, #0099ff);
}

/* General button styling */
.class-button-old {
  background: linear-gradient(to right, #ff1d1d, #ff5900);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.class-button-old:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ff5900, #ff1d1d);
}

/* Group buttons and center them */
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#blink_text{	
  animation-name:blink;
  animation-duration:2s;
  animation-timing-function:ease-in;
  animation-iteration-count:Infinite;
  }

@keyframes blink{
  0%{color:red;}
  50%{color:white;}
  100%{color:red;}
}